@import "../../constants.scss";

.search-connect {
  display: grid;
  grid-template-columns: calc(70% - 8px) 30%;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-decoration: none;
    font-family: inherit;
    line-height: 16px;
    font-weight: 500;
    border: 1px solid $overlaySecondaryBackgroundColor;
    background-color: $overlayMainBackgroundColor;
    width: 100%;
    outline: none;
    padding-inline: 4px;

    input {
      outline: none;
      color: $textPrimaryColor;
      background: none;
      padding-block: 6px;
      font-size: 16px;
      border: none;
      outline: none;
      height: inherit;
      width: inherit;
    }
  }
}
