@import "../../constants.scss";

.root {
  width: 100%;
  height: inherit;
  .overlay {
    z-index: 999;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .top {
      margin-block: 16px;
      padding-inline: 16px;
    }

    .bottom {
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgb(0, 0, 0) 100%
      );
      padding-inline: 16px;
      padding-block: 16px;
      padding-top: max(200px, 20vh);
      display: flex;
      flex-direction: column;
      gap: 16px;
      @media only screen and (max-height: 599px) {
        padding-top: 0;
      }
    }
    .ip-content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 16px;
    }
  }
}
