@import "../../constants.scss";

.start {
  padding: 16px;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/backgrounds/onboarding-screen-bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: min(100%, 260px);
    padding-top: 16px;
    gap: 16px;
    .title {
      max-width: 240px;
      display: block;
      font-size: 40px;
      line-height: 48px;
      font-weight: 500;
      pointer-events: none;
      user-select: none;
    }
    .subtitle {
      max-width: 260px;
      display: block;
      font-size: 16px;
      line-height: 22px;
      color: $textSecondaryColor;
      pointer-events: none;
      user-select: none;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    img {
      width: 72px;
      height: auto;
      pointer-events: none;
      user-select: none;
    }
    .title {
      display: block;
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      pointer-events: none;
      user-select: none;
    }
    .subtitle {
      display: block;
      font-size: 16px;
      line-height: 22px;
      color: $textSecondaryColor;
      pointer-events: none;
      user-select: none;
    }
  }
}

.create {
  padding: 16px;
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  .top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 32px;
    height: 100%;
    gap: 16px;
    .title {
      max-width: 260px;
      display: block;
      font-size: 40px;
      line-height: 48px;
      font-weight: 500;
      pointer-events: none;
      user-select: none;
    }
    .subtitle {
      display: block;
      font-size: 16px;
      line-height: 22px;
      color: $textSecondaryColor;
      pointer-events: none;
      user-select: none;
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .mnemonics {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px;
      padding-inline-end: 8px;
      .mnemonic {
        display: block;
        padding: 4px 8px;
        color: $mnemonicTextColor;
        font-size: 14px;
        line-height: 18px;
        border-radius: 8px;
        border: solid 1px $mnemonicBorderColor;
        background-color: $mnemonicBackgroundColor;
        transition: 0.3s;
      }
      &.revealed {
        filter: blur(4px);
      }
    }
  }
  .actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
}

.import {
  padding: 16px;
  height: 100%;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;

  .top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 32px;
    gap: 16px;
    height: 100%;
    width: 100%;
    .title {
      max-width: 260px;
      display: block;
      font-size: 40px;
      line-height: 48px;
      font-weight: 500;
      pointer-events: none;
      user-select: none;
    }
    .subtitle {
      display: block;
      font-size: 16px;
      line-height: 22px;
      color: $textSecondaryColor;
      pointer-events: none;
      user-select: none;
    }
  }

  .bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    textarea {
      background: #26304c;
      border: 1px solid $mnemonicBorderColor;
      resize: none;
      border-radius: 8px;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      padding: 16px;
      font-family: inherit;
      color: $textPrimaryColor;

      &:focus {
        outline: none;
      }
    }
  }
  .actions {
    margin-block: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
