@import "../../constants.scss";

.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  gap: 32px;
  .header {
    font-size: 24px;
    font-weight: 500;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .title {
      color: $textSecondaryColor;
      font-weight: 500;
      font-size: 18px;
    }
    .dns {
      background: transparent;
      outline: none;
      border: none;
      color: $textPrimaryColor;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      gap: 8px;
      padding: 16px;
      section {
        background: transparent;
        outline: none;
        border: none;
        color: $textPrimaryColor;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        gap: 8px;
      }
      .value {
        color: $textSecondaryColor;
        font-weight: 400;
      }
    }
    .doc-card {
      background: transparent;
      outline: none;
      border: none;
      color: $textPrimaryColor;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
      gap: 8px;
      padding: 16px;
    }
    .version {
      background: transparent;
      outline: none;
      border: none;
      color: $textPrimaryColor;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      gap: 8px;
      padding: 16px;
      section {
        background: transparent;
        outline: none;
        border: none;
        color: $textPrimaryColor;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        gap: 8px;
      }
      .value {
        color: $textSecondaryColor;
        font-weight: 400;
      }
    }
  }
  .dns-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 64px;
    .title {
      color: $textPrimaryColor;
      font-weight: 500;
      font-size: 24px;
    }
    .list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 32px;
    }
    .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
    }
  }
}
