.root {
  height: 64px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .go-back-btn {
    position: absolute;
    left: 24px;
    width: 32px;
    height: 32px;
  }
  .title {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    text-align: center;
  }
}
