.root {
  pointer-events: none !important;
  touch-action: none !important;
  position: fixed;
  display: flex;
  z-index: 9998;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background: transparentize(#000610, 0.2);
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.blocking {
    bottom: 0 !important;
    z-index: 1001 !important;
    pointer-events: none;
    touch-action: none;
  }

  &.hidden {
    display: none !important;
    pointer-events: none;
    touch-action: none;
  }

  span {
    display: block;
    font-size: 14px;
    color: #9cabc9;
    margin-top: 16px;
    pointer-events: none;
    touch-action: none;
  }
}
