@import "../../constants.scss";

.snakbar {
  width: max(128px, 50%);
  position: absolute;
  bottom: 128px;
  right: 0;
  margin-inline: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4px 8px;
  color: $mnemonicTextColor;
  font-size: 14px;
  line-height: 18px;
  border-radius: 50px 50px 50px 0;
  background-color: $cardBackgroundColor;
  transition: 0.3s;
}
