.root {
  height: 120px;
  width: 100%;
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 0;
  overflow: hidden;

  .left {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    & .title {
      font-size: 14px;
      color: #9cabc9;
      line-height: 150%;
      font-weight: 500;
    }
    .bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-top: 8px;
      & img {
        height: 36px;
        width: 36px;
        margin-right: 4px;
      }
      & .description {
        width: 100%;
        max-width: 240px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 22px;
        line-height: 110%;
        font-weight: 500;
      }
    }
  }

  .right {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    .reload-btn {
      height: 48px;
      width: 48px;
      padding: 0;
      margin: 0;
    }
    .current-value {
      font-size: 14px;
      color: #9cabc9;
      line-height: 150%;
      font-weight: 400;
      &::before {
        content: "~ ";
      }
    }
  }
}
