.root {
  height: 120px;
  width: 100%;
  margin-block: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 12px;
  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 8px;
    width: 100%;
    gap: 4px;
    .left {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & img {
        height: 48px;
        width: 48px;
      }
    }
    .middle {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      & .title {
        font-size: 14px;
        color: #9cabc9;
        line-height: 150%;
        font-weight: 500;
      }
      & .description {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 20px;
        line-height: 110%;
        font-weight: 500;
      }
    }
    .right {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-inline: 8px;
      .reload-btn {
        height: 48px;
        width: 48px;
      }
    }
  }
  .bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-block: 8px;
    padding-inline: 16px;

    color: #9cabc9;
  }
}
