.root {
  display: flex;
  flex-direction: column;
  gap: 36px;
  .title {
    font-size: 18px;
    font-weight: 500;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .ok-btn {
    height: 36px;
    width: 100%;
  }
}
