.root {
  display: flex;
  flex-direction: column;
  .title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 32px;
  }
  .list {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    .filter-item {
      margin: 12px 0;
    }
  }
  .ok-btn {
    height: 36px;
    width: 100%;
  }
}
