.root {
  background: none;
  outline: none;
  border: none;
  position: relative;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-block: 12px;
  gap: 12px;
  padding-inline: 16px;
  & .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    gap: 8px;
    width: 80%;
    & .name {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      color: #ffffff;
    }
    & .value {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      font-weight: 500;
      color: #9cabc9;
    }
  }
  .logo {
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img {
      height: 100%;
      width: 100%;
      background-color: #191f31;
      border: 1pt solid #0184fc;
      border-radius: 6px;
      padding: 6px;
    }
  }
}
