$backgroundColor: #000610;
$textColor: #FFFFFF;
$secondaryTextColor: #9CABC9;

$primaryButtonBackgroundColor: #0156FC;
$primaryButtonTextColor: #FFFFFF;

$secondaryButtonBackgroundColor: #191F31;
$secondaryButtonTextColor: #0184FC;

$mnemonicTextColor: #0184FC;
$mnemonicBorderColor: #0184FC;
$mnemonicBackgroundColor: #00153F;

$overlayMainBackgroundColor: #191F31;
$overlaySecondaryBackgroundColor: #26304C;