@import "../../constants.scss";

.no-balance-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: max(200px, 20vh);
  .title {
    color: $textPrimaryColor;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
  }
  .description {
    color: $textSecondaryColor;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .balance {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: justify;
    img {
      width: 48px;
      height: auto;
      aspect-ratio: 1/1;
    }
    .amount {
      font-weight: 500;
      font-size: 24px;
      color: $textPrimaryColor;
    }
  }
}
