@import "../../constants.scss";

.tab-bar {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1000;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  background-color: $cardBackgroundColor;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  @media only screen and (max-width: 300px) {
    padding: 4px;
    gap: 4px;
  }
  .tab {
    height: inherit;
    width: 100%;
    background-color: transparent;
    color: $textSecondaryColor;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 500;
    .icon {
      width: auto;
      height: 18px;
    }
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
    }

    &.selected {
      img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
          brightness(102%) contrast(102%);
      }

      span {
        color: $textPrimaryColor;
      }
    }
  }
}
