.root {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
  button {
    height: 56px;
  }

  .title {
    color: #9cabc9;
    font-weight: 500;
    font-size: 18px;
    margin: 8px 0;
  }
  .button {
    background: transparent;
    outline: none;
    border: none;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 16px;
    section {
      background: transparent;
      outline: none;
      border: none;
      color: #ffffff;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
      img {
        margin-right: 8px;
      }
    }
  }
}
