.protected {
  padding: 8px 16px;
  background-color: #26304c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: 500;
  img {
    margin: 0 4px;
  }
}
