.no-node-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 115%;
  color: #9cabc9;
}

.node-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  .name {
    font-weight: 500;
    font-size: 18px;
    line-height: 115%;
    color: #ffffff;
  }
}
