.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .card {
    width: 100%;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    .right {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    }
  }
  .support {
    width: 100%;
    height: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    .social {
      width: 100%;
      max-width: 180px;
      height: 48px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      &-btn {
        width: 24px;
        height: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
