$backgroundColor: #000610;
$textPrimaryColor: #ffffff;
$textSecondaryColor: #9cabc9;

$cardBackgroundColor: #191f31;

$mnemonicTextColor: #0184FC;
$mnemonicBorderColor: #0184FC;
$mnemonicBackgroundColor: #00153F;

$overlayMainBackgroundColor: #191F31;
$overlaySecondaryBackgroundColor: #26304C;