@import "./constants.scss";

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Poppins", monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $backgroundColor;
  color: $textPrimaryColor;
  box-sizing: border-box;
}

// @for $value from 0 through 50 {
//   .gap-#{$value} {
//     gap: 1px * $value;
//   }
//   .margin-inline-#{$value} {
//     margin: 1px * $value;
//   }
//   .margin-block-#{$value} {
//     margin: 1px * $value;
//   }
//   .padding-inline-#{$value} {
//     margin: 1px * $value;
//   }
//   .padding-block-#{$value} {
//     margin: 1px * $value;
//   }
// }

span {
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
