@import "./constants.scss";

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Poppins", monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $backgroundColor;
  color: $textPrimaryColor;
  box-sizing: border-box;
}

span {
  font: inherit;
  vertical-align: baseline;
  user-select: none;
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

img {
  user-select: none;
  pointer-events: none;
}

.list-button {
  background: none;
  outline: none;
  border: none;
}
