* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Poppins", monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}
img {
  user-select: none;
  pointer-events: none;
}
* ::-webkit-scrollbar {
  display: none;
}
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000610;
  color: #ffffff;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.mapboxgl-control-container {
  display: none;
}
