.root {
  height: inherit;
  width: inherit;
  padding: 0 16px;
  .details {
    height: 140px;
    width: 100%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .bottom {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 8px;
    }
  }
  .lists {
    flex: 1;
    height: calc(100% - 60px);
    overflow: auto;
  }
}
