@import "../../constants.scss";

.root {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  .content {
    height: calc(100vh - 84px);
    width: 100%;
    overflow-y: auto;
  }
  .tab-bar {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    height: 84px;
    z-index: 1000;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background-color: $cardBackgroundColor;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    padding: 8px;
    .tab {
      background-color: transparent;
      color: $textSecondaryColor;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 8px;

      &.selected {
        img {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
            brightness(102%) contrast(102%);
        }

        span {
          color: $textPrimaryColor;
        }
      }
    }
  }
}
