@import "../../constants.scss";

.header {
  background-color: $backgroundColor;
  width: inherit;
  position: sticky;
  top: 0;
  padding-inline: 16px;
  padding-block: 12px;

  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  .page-details {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 16px;
    padding-inline: 8px;
    .back-button {
      width: 48px;
      height: auto;
      aspect-ratio: 1/1;
    }
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 64px;
      overflow: hidden;
      padding-block: 16px;
      font-size: 16px;
      text-align: center;
      text-overflow: ellipsis;
      &.make-center {
        transform: translateX(-24px);
      }
    }
  }
}
